.mdl-button.mdl-button--facebook {
  color: rgb(63, 81, 181)
}

.mdl-button.mdl-button--facebook:focus:not(:active) {
  background-color: #3b5998
}

.mdl-button--raised.mdl-button--facebook {
  background: #3b5998;
  color: rgb(255, 255, 255)
}

.mdl-button--raised.mdl-button--facebook:hover {
  background-color: #3b5998
}

.mdl-button--raised.mdl-button--facebook:active {
  background-color: #3b5998
}

.mdl-button--raised.mdl-button--facebook:focus:not(:active) {
  background-color: #3b5998
}

.mdl-button--raised.mdl-button--facebook .mdl-ripple {
  background: rgb(255, 255, 255)
}